<!DOCTYPE html>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="registrations.css">

  <div class="box3">
    <div class="row justify-content-md-center">
      <h2>新規登録</h2>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <%= form_with model: @user, url: user_registration_path do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :名前 %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :年齢 %>
            <%= f.number_field :age, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :性別 %>
            <%= f.text_field :gender, class: "form-control" %> <%#セレクトタグ　男か女%>
          </div>

          <div class="field">
            <%= f.label :自己紹介 %>
            <%= f.text_area :introduction, rows: "7", class: "form-control" %> <%#= rows: "7"で7行まで入力 %>
          </div>

          <div class="field">
            <%= f.label :アイコン画像 %>
            <%= f.file_field :image, accept: "image/*", class: "form-control" %> <%#accept: "image/*"で画像ファイルしか投稿できないようにしている%>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :電話番号（ハイフンなし） %>
            <%= f.text_field :telephone_number, class: "form-control" %> <%#モデルの方で数字だけを通せるようにする%>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :パスワード（確認） %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="col"></div>
          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-block" %>
          </div>
          登録済みの方は<%= link_to "こちら",  new_user_session_path %>
        <% end %>

        </div>
      </div>
    </div>