<!DOCTYPE html>
<html lang="ja">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="posts.css">

    <div class="back">
        <div class="row justify-content-md-center">
            <h1>投稿一覧</h1>
        </div>
        <div class="container">
            <%= form_with url: search_posts_path, local: true, method: :get do |form| %><%#=キーワード検索%>
                <%= form.text_field :keyword %>
                <%= form.submit "検索" %>
            <% end %>

            <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>タグ検索
                <% Tag.all.each do |t| %>
                    <span class="pb-2"><%= check_box :tag_ids, t.name %><%= t.name %><%#= form.check_box :tag_ids, t.name { multiple: true, include_hidden: false }, tag_ids %></span>
                <% end %>
                <%= submit_tag '検索' %>
            <% end %>

            <div class="col"></div>

            <div class="row justify-content-md-center">
                <div class="topnewbox">
                    <% @posts.each do |post| %>
                        <div class="card" style="width: 18rem;">
                            <%= link_to post_path(post.id), style: "color: black;" do %>
                                <%= image_tag post.image, size: "250x150" %>
                                <div class="card-body">
                                    <p class="card-text">
                                        タイトル名・<%= post.title %></br>
                                        投稿者名・<%= post.user.name %></br>
                                        <% post.tags.each do |tag| %>
                                            地名タグ・<span><label for="tag_ids_<%= tag.name %>"><%= tag.name %></label></span></br>
                                        <% end %>
                                        いいね数・<%= post.likes.count %>
                                    </p>
                                </div>
                            <% end %>
                        </div>
                    <% end %>

                </div>

            </div>

            <div class="col"></div>

            <div class="row justify-content-md-center">
                <div class="paginate">
                    <%= paginate @posts %>
                </div>
            </div>
        </div>
    </div>

</html>