<div class="row justify-content-md-center">
  <h1>新規投稿</h1>
</div>

<div class="container">
  <%= form_with model: @post, url: posts_path do |f| %>
    <%= f.label "タイトル名" %>
    <%= f.text_field :title %>

    <%= f.label "写真・画像を選択" %>
    <%= f.file_field :image, accept: "image/*" %>　<%#= 写真画像を4枚まで選択させるようにしたい  %>

    <%= f.label "説明を入力" %>
    <%= f.text_area :explanation, rows: "10" %>

    <%= f.label "地名タグを選択" %>
    <%= f.select :prefecture_id, Post.prefecture_ids.keys, {prompt: '選択してください'} %> <%#配列を入れる※複数形で記述 　今回はモデルでenumを定義しているカラム名を入れる　%>

    <%= f.submit '投稿' %>
  <% end %>
</div>
