<h1>新規投稿</h1>

<%= form_with model: @post, url: posts_path do |f| %>
  <%= f.label "タイトル名" %>
  <%= f.text_field :title %>

  <%= f.label "写真・画像を選択" %>
  <%= f.text_field :image, accept: "image/*" %>　<%#= 写真画像を4枚まで選択させるようにしたい  %>

  <%= f.label "説明を入力" %>
  <%= f.text_area :explanation, rows: "10" %>

  <%= f.label "地名タグを選択" %>


  <%= f.submit '投稿' %>
<% end %>