<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
      <title>Bicycle Adventure</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  </head>

  <body>
    <header>
      <% if user_signed_in? %> <%#ログインしているときの場合%>

        <div class="row justify-content-md-center">
          <div class="title1">
            <%= link_to "~Bicycle Adventure~", homes_top_path, style: "color: black;", class:"top"%>
          </div>
        </div>

        <div class="container">
          <div class="row row-cols-4">
            <div class="col">
              <%= link_to new_post_path do %>
                <button type="button" class="btn btn-light">
                  新規投稿
                </button>
              <% end %>
            </div>
            <div class="col">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <button type="button" class="btn btn-light">
                  ログアウト
                </button>
              <% end %>
            </div>
            <div class="col">
              <%= link_to posts_path do %>
                <button type="button" class="btn btn-light">
                  投稿一覧
                </button>
              <% end %>
            </div>
            <div class="col">

              <%= link_to user_path(current_user.id) do %>
                <button type="button" class="btn btn-light">
                  マイページ
                </button>
              <% end %>
            </div>
          </div>
        </div>

      <% elsif admin_signed_in? %>
        <div class="row justify-content-md-center">
          <div class="title1">
            <%= "~Bicycle Adventure~" %>
          </div>
        </div>

        <div class="container">
          <div class="row row-cols-4">
            <div class="col"></div>
            <div class="col">

              <%= link_to admin_users_path do %>
                <button type="button" class="btn btn-light">
                  会員一覧
                </button>
              <% end %>
            </div>
            <div class="col">
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <button type="button" class="btn btn-light">
                  管理者ログアウト
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>

        <div class=", style: "color: black;"">
          <div class="title1">
            <%= link_to "~Bicycle Adventure~", homes_top_path, style: "color: black;", class:"top"%>
          </div>
        </div>

        <div class="container">
          <div class="row">
          <div class="col-sm-9"></div>
          <div class="col-sm-3">
            <%= link_to new_admin_session_path do %>
              <button type="button" class="btn btn-dark">
                管理者ログイン
              </button>
            <% end %>
          </div>
          </div>
        </div>

        <div class="container">
          <div class="row row-cols-4">
            <div class="col">
              <%= link_to new_user_registration_path do %>
                <button type="button" class="btn btn-light">
                  新規登録
                </button>
              <% end %>
            </div>
            <div class="col">
              <%= link_to new_user_session_path do %>
                <button type="button" class="btn btn-light">
                  ログイン
                </button>
              <% end %>
            </div>
            <div class="col">
              <%= link_to posts_path do %>
                <button type="button" class="btn btn-light">
                  投稿一覧
                </button>
              <% end %>
            </div>
            <div class="col">

              <%= link_to users_guest_sign_in_path, method: :post do %>
                <button type="button" class="btn btn-dark">
                  ゲストログイン（閲覧用）
                </button>
              <% end %>
            </div>
          </div>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
